<h1>Imported transcripts</h1>

<div class = 'pull-right linkedin_form'>
	<%= form_tag(entries_linkedin_path,:method => :post) do %>
		First Name: <%= text_field_tag(:firstname) %>
		Last Name: <%= text_field_tag(:lastname) %>
	  	<%= submit_tag("Linkedin Search", :class=>"btn btn-default") %>
	<% end %>
</div>
<hr>
<table class = 'table table-striped table-bordered table-condensed' id = 'allEntries'>
	<thead>
			<th class='col-md-1'>Company Name</th>
			<th class='col-md-1'>Ticker</th>
			<th class='col-md-3'>Event Name</th>
			<th class='col-md-1'>Date</th>
			<th class='col-md-1'>Speaker</th>
			<th class='col-md-2'>Title</th>
			<th class='col-md-1'>Word Count</th>
			<th class='col-md-1'>Analysed?</th>
			<th class='col-md-1'></th>
	</thead>
	<tbody>
		<% @entries.each do |e| %>
		<tr>
				<td><%= e.company_name %></td>
				<td><%= e.ticker %></td>
				<td><%= e.event_name %></td>
				<td><%= e.date.strftime('%m/%d/%Y') %></td>
				<td><%= e.speaker_name %></td>
				<td><%= e.speaker_title %></td>
				<td class='align-center'><%= e.wcount %></td>
				<td class='align-center'>
					<% if e.insights %>
						<%= image_tag 'insight.png', id: 'insight_logo' %>
					<% end %>	
				</td>
				<td class='align-center'>
					<%= button_to 'Show', entry_path(e.id), method: :get, :class => "btn btn-primary" %> 
				</td>	
		</tr>
		<% end %>
	</tbody>
</table>

<%= button_to 'Upload New File', new_entry_path, method: :get, :class => 'btn btn-primary btn-lg' %>
<br>

