<h1>Watson NLP pilot project</h1>
<p>Enter text to be analysed below:</p>


<% @entries.each do |e| %>
	<%= e.company_name %>
	<%= e.event_name %>
	<%= e.date %>
	<%= link_to '<<delete>>', e, method: :delete, data: {confirm: 'Are you sure?'} %>
	<br>
<% end %>

<%= link_to 'Create new entry here', new_entry_path %>
