
<div class = 'page-header'>
	<h1>Imported transcripts</h1>
</div>

<table class = 'table table-striped table-bordered'>
	<thead>
		<tr>
			<td>Company</td>
			<td>Event</td>
			<td>Date</td>
			<td>Speaker</td>
			<td></td>
			<td></td>
		</tr>
	</thead>
	<tbody>
		<% @entries.each do |e| %>
		<tr>
				<td><%= e.company_name %></td>
				<td><%= e.event_name %></td>
				<td><%= e.date %></td>
				<td><%= e.speaker %></td>
				<td>
					<%= button_to 'Show', entry_path(e.id), method: :get, :class => "btn btn-primary" %> 
				</td>	
				<td>
					<%= button_to 'Delete', e, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger" %>
				</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= button_to 'Upload New File', new_entry_path, method: :get, :class => 'btn btn-primary btn-lg' %>


