<div class="page-header">
	<h1><%= @entry.company_name %></h1>
</div>
<h3><%= @entry.event_name %> <small><%= @entry.date %></small></h3>
<label>Speaker: </label> <%= @entry.speaker %>
<br>
<label>Transcript: </label>
<br>
<%= text_area_tag 'transcript', @entry.transcript, :class => 'form-control transBox' %>
<p class="text-right">word count: <span class="badge"><%= @entry.wcount %></span></p>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
	Show raw JSON results from Watson
</button>
<div class="collapse" id="collapseExample">
	<div class="well">
		<%= @entry.insights %>
	</div>
</div>

<div class ="row">
	<div class="col-md-6">
		<%= render partial: "big5" %>
	</div>
	<div class="col-md-6">
		<%= render partial: "values" %>
		<%= render partial: "needs" %>
	</div>

</div>


