<%= form_for @user, :html => {:class => "form-group"} do |f| %>
	<div class= "col-md-6 col-md-offset-3">	
		<%= f.label :student_id, 'Student Number' %> <br>
		<%= f.text_field :student_id, :class => "form-control" %> <br>
	</div>
	<div class= "col-md-6 col-md-offset-3">	
		<%= f.label :first_name %> <br>
		<%= f.text_field :first_name, :class => "form-control" %> <br>
	</div>
	<div class= "col-md-6 col-md-offset-3">	
		<%= f.label :last_name %> <br>
		<%= f.text_field :last_name, :class => "form-control" %> <br>
	</div>
	<div class= "col-md-6 col-md-offset-3">
		<%= f.label :email %> <br>
		<%= f.text_field :email, :class => "form-control", :placeholder => "Please submit utoronto.ca email only" %> <br>
	</div>
	<div class= "col-md-6 col-md-offset-3">
		<%= f.label :password %> <br>
		<%= f.password_field :password, :class => "form-control" %> <br>
	</div>
	<div class= "col-md-6 col-md-offset-3">
		<%= f.label :password_confirmation %> <br>
		<%= f.password_field :password_confirmation, :class => "form-control" %> <br>
	</div>
	
	<div class="col-md-6 col-md-offset-3">
	  <%= f.submit "Submit", class: "btn btn-w-m btn-info" %>

	  <%= link_to 'Cancel', root_path, class: "btn btn-w-m btn-defaults" %>
	</div>
<% end %>