<h1>Entry#index</h1>
<p>Find me in app/views/entry/index.html.erb</p>

<%= form_tag(new_entry_path, method: "get") do %>
	<%= label_tag :input %> <br>
	<%= text_area_tag :input %> <br>
	<%= submit_tag :submit, :id=>"submitButton" %>
<% end %>


<%= link_to 'Create new entry here', new_entry_path %>
